.register {
  display: flex;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  @media screen and (max-width: 800px) {
    width: 100%;
    justify-content: center;
  }
}
.registerForm {
  width: 60%;
  @media screen and (max-width: 800px) {
    width: 100%;
  }
}
.registerImage {
  width: 40%;
  background-color: #e1f4f7;
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 800px) {
    display: none;
  }
}
.registerForm_header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 70px;
}
.registerForm_paragraph {
  font-size: 15px;
  color: gray;
  margin: 10px;
  @media screen and (max-width: 800px) {
    display: none;
  }
}
.registerForm_loginButton {
  border: none;
  outline: none;
  padding: 10px 20px;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 16px;
  background-color: #13a8be;
  color: white;
  border-radius: 4px;
  margin-right: 70px;
  @media screen and (max-width: 800px) {
    margin-right: 50px;
  }
}
.registerForm_body {
  margin-top: 85px;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
}
.registerForm_bodyWrapper {
  width: 80%;
}
.registerForm_bodyHeading {
  width: 100%;
  color: rgb(97, 97, 97);
}
.registerForm_bodyHeading_h1 {
  font-size: 39px;
  font-weight: 500;
  @media screen and (max-width: 1200px) {
    font-size: 30px;
  }
  @media screen and (max-width: 1100px) {
    font-size: 27px;
  }
  @media screen and (max-width: 1000px) {
    font-size: 23px;
  }
}
.registerForm_bodyHeading_h2 {
  margin-top: 15px;
  font-size: 21px;
  @media screen and (max-width: 1200px) {
    font-size: 18px;
  }
  @media screen and (max-width: 1100px) {
    font-size: 15px;
    margin-top: 5px;
  }
  @media screen and (max-width: 1000px) {
    font-size: 13px;
  }
}
.registerForm_bodyForm {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.registerForm_bodyForm_wrapInputs {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.registerForm_bodyForm_labels {
  font-size: 18px;
  width: fit-content;
  color: rgb(66, 66, 66);
  @media screen and (max-width: 1100px) {
    font-size: 15px;
  }
  @media screen and (max-width: 1000px) {
    font-size: 13px;
  }
}
.registerForm_bodyForm_inputs {
  height: 45px;
  border-radius: 4px;
  border: 1px solid rgb(207, 207, 207);
  font-size: 18px;
  padding-left: 20px;
  outline: none;
  @media screen and (max-width: 1100px) {
    font-size: 15px;
  }
  @media screen and (max-width: 1000px) {
    font-size: 13px;
  }
}
.registerForm_bodyForm_wrapLabel {
  display: flex;
  justify-content: space-between;
}
.inputWithIcon {
  border: 1px solid rgb(207, 207, 207);
  height: 45px;
  border-radius: 4px;
  display: flex;
}
.registerForm_bodyForm_input2 {
  width: 87%;
  height: calc(100% - 5px);
  border: none;
  outline: none;
  font-size: 18px;
  padding-left: 20px;
  @media screen and (max-width: 1100px) {
    font-size: 15px;
  }
  @media screen and (max-width: 1000px) {
    font-size: 13px;
  }
}
.inputIcon {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 25px;
  color: #d6d6d6;
}
.registerForm_registerButton {
  border: none;
  outline: none;
  padding: 15px 0;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 18px;
  background-color: #13a8be;
  color: white;
  border-radius: 4px;
  margin-right: 10px;
  margin-top: 20px;
  width: 100%;
  @media screen and (max-width: 1100px) {
    font-size: 15px;
  }
  @media screen and (max-width: 1000px) {
    font-size: 13px;
  }
}
.optionStatement {
  margin-top: 20px;
  display: flex;
  width: 100%;
  height: 30px;
  align-items: center;
  justify-content: center;
}

.optionStatement_text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  position: relative;
  @media screen and (max-width: 1100px) {
    font-size: 15px;
  }
  @media screen and (max-width: 1000px) {
    font-size: 13px;
  }
}

.optionStatement_text::after {
  position: absolute;
  content: "";
  width: 290px;
  height: 2px;
  right: 50px;
  bottom: auto;
  background-color: #000000;
}
.optionStatement_text::before {
  position: absolute;
  content: "";
  width: 290px;
  height: 2px;
  left: 50px;
  bottom: auto;
  background-color: #000000;
}
.registerForm_registerButton2 {
  border: none;
  outline: none;
  /* height: 45px; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  font-size: 16px;
  background-color: rgb(255, 255, 255);
  color: rgb(44, 44, 44);
  border: 1px solid rgb(63, 63, 63);
  border-radius: 4px;
  margin-right: 10px;
  margin-top: 20px;
  width: 100%;
  @media screen and (max-width: 1100px) {
    font-size: 15px;
  }
  @media screen and (max-width: 1000px) {
    font-size: 13px;
  }
}
.registerImage_container {
  width: 100%;
}
.registerImage_header {
  font-size: 25px;
  font-weight: 400;
  position: fixed;
  left: 10px;
  top: 10px;
  padding: 5px;
  @media screen and (max-width: 800px) {
    background-color: white;
  }
}
.registerImage_body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.registerImage_image {
  width: 100%;
  display: flex;
}
.registerImage_h1 {
  font-size: 40px;
  color: rgb(0, 0, 0);
  width: 85%;
  text-align: left;
}

.forgot {
  font-size: 17px;
  color: #0049cf;
  @media screen and (max-width: 1100px) {
    font-size: 15px;
  }
  @media screen and (max-width: 1000px) {
    font-size: 13px;
  }
}
.foot {
  margin-top: 40px;
  @media screen and (max-width: 1100px) {
    font-size: 15px;
  }
  @media screen and (max-width: 1000px) {
    font-size: 13px;
  }
}
